<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="VueApp">
        <h1>Belajar Vue.Js</h1>

        <button @click="toggleStatus">Toggle Status</button>

        <!-- <ol v-if="status">
            <li v-for="subject in subject" :key="subject.title">
                {{ subject.title }} - <strong>Type</strong> - {{ subject.type }}
            </li>
        </ol>

        <p v-else="status">
            <strong>No subject yet</strong>
        </p> -->

        <ol v-show="status">
            <li v-for="subject in subject" :key="subject.title">
                {{ subject.title }} - <strong>Type</strong> - {{ subject.type }}
            </li>
        </ol>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const sample = {
            data() {
                return {
                    subject: [
                        { title: 'JavaScript', type: 'native' },
                        { title: 'Vue', type: 'framework' },
                        { title: 'React', type: 'framework' }
                    ],
                    status : true
                }
            },
            methods: {
                toggleStatus() {
                    this.status = !this.status; // Mengubah nilai status
                }
            }
        }

        Vue.createApp(sample).mount('#VueApp')

    </script>

</body>

</html>