<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="VueApp">
        <h1>Belajar Vue.Js</h1>

        <input type="text" v-model="name">
        <input type="number" v-model="age">

        <p>
            Namanya {{ name }}, 
            Umurnya {{ age }} tahun, {{ expression }} 
        </p>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const today = new Date()
        const birthDate = 2002

        const sample = {
            data() {
                return {
                    name: 'Bagas',
                    age: today.getFullYear() - birthDate
                }
            },
            computed: {
                expression(){
                    if(this.age >= 60){
                        return "Tua sekali"
                    } else if (this.age <= 59 && this.age >= 30) {
                        return "Cukup tua"
                    } else if (this.age <= 29 && this.age >= 20){
                        return "Masih muda"
                    } else {
                        return "Bocahhhh"
                    }
                }
            }
        }

        Vue.createApp(sample).mount('#VueApp')

    </script>

</body>

</html>